/* footer */

footer {
  background: #003E80;
  color: rgb(197, 211, 218);
  width: 100%;
}

.footer-top {
  justify-content: center;
}

footer a {
  color: #0CF7FC;
}

footer h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

footer svg {
  width: 20px;
  height: 20px;
}

.socials svg {
  cursor: pointer;
}

.socials svg:hover, footer a:hover {
  color: #E2F1FF;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.ali-center {
  align-items: center;
}

.order3 {
  order: 3;
}

.order2 {
  order: 2;
}

.order1 {
  order: 1;
}

.footer-nav-links ul {
  margin-bottom: .8rem;
}

.socials {
  color: #0CF7FC;
}

.socials ul, .footer-nav-links ul {
  text-align: center;
  justify-content: center;
}

.socials p {
  text-align: center;
}

ul li {
  margin: 0 1rem;
}

.small {
  text-align: center;
  padding: 1em 0;
  background: #001F40;
  color: #BDBDBD;
}

.dt-only {
  display: none;
}

@media screen and (min-width: 750px) {
  footer h2 {
    text-align: left;
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 2rem;
  }
  .dt-only {
    display: block;
  }
  .md-flex-row {
    display: flex;
    flex-direction: row;
  }
  .md-flex-col {
    display: flex;
    flex-direction: column;
  }
  .md-order3 {
    order: 3;
    flex: 1;
  }
  .md-order2 {
    order: 2;
    flex: 1;
  }
  .md-order1 {
    order: 1;
    flex: 2;
  }
  .footer-nav-links ul {
    align-items: flex-end;
  }
  .address svg {
    margin-right: .8rem;
  }
  .footer-nav-links ul li {
    margin-bottom: 1rem;
  }
  .icon {
    margin-bottom: 1rem;
  }
  .socials p {
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase;
  }
  .socials ul li {
    margin-right: .8rem;
  }
}