/* #navbar styles */
.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:20px 5%;
    max-width: 1200px;
    margin: auto;
}

nav ul li a {
    font-weight: 700;
    font-size: 1em;
    color: #000;
}

nav ul li a:hover, nav ul li a:active {
    cursor: pointer;
    color: #39a5e3;
    margin-bottom: 2px;
    border-bottom: 1px solid #39a5e3;
}

.title {
    color: #39a5e3;
    font-weight: 900;
    font-size: 1.5em;
}

.contact-btn{
    outline: none;
    border-radius: 50px;
    border: none;
}
.contact-btn a {
    display: block;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 50px;
    color: #fff;
    background-color: #39a5e3;
    transition: ease .3s;
}
.contact-btn a:hover {
    background-color: #27719b;
}

.menu-icon{
    display: none;
}

@media screen and (max-width:750px) {
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    nav i{
        font-size: 1.5rem;
    }
    .title{
        font-size: 1.5rem;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 50px;
        padding-top: 2rem;
        left: -100%;
        opacity: 1;
        z-index: 1001;
        transition: all 0.5s ease-in-out;
    }
    .nav-menu.active {
        left: 0;
        transition: all 0.5s ease-in-out;
        background-color: #39a5e3;
        z-index: 1001;
    }
    nav ul li a{
        display: block;
        text-align: center;
        color:white;
        font-size: 1.2rem;
        padding: 1rem;
        /* margin-bottom: 5px; */
        transition: all ease-in-out .2s;
    }
    nav ul li a:hover, nav ul li a:active{
        background-color: #fff;
        color:#39a5e3;
        padding: 1rem;
    }
   
}