@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/src/img/digii.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    top: 50%;
    left: 100%;
    width: 700px;
    height: 600px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

section {
    margin: 0 120px;
}

#main .main-text {
    color: #0884c2;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    position: absolute;
    bottom: 50%;
}

span {
    border: none;
}

.text p {
    text-align: start;
    position: absolute;
    font-size: 0.7rem;
    font-weight: 400;
    top: 55%;
}

.btn {
    text-align: start;
    position: absolute;
    bottom: 20%;
}

.btn button {
    background-color: #0884c2;
    border: none;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    margin: 4px;
}